<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:title" content="Spirodon.Games" />
    <meta
      property="og:description"
      content="Crafting a fun and entertaining in-stream experience for streamers and viewers."
    />
    <meta property="og:image" content={"#{url(~p"/images/spiro-games.webp")}"} />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <.live_title suffix=" · Spirodon.Games">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <%= if @current_user do %>
      <script type="text/javascript">
        window.TEST_currentUser = <%= Phoenix.HTML.raw(Jason.encode!(@current_user)) %>;
        window.USER = {
          "username": "<%= @current_user.display_name || @current_user.email %>",
          "email": "<%= @current_user.email %>",
          "login": "<%= @current_user.id %>"
          ];
        };
      </script>
      <script type="module" src="https://spirodonfl.github.io/uwnh-remake/scripts/injector.js">
      </script>
    <% end %>
  </head>
  <body></body>
</html>
