<.header>
  Game <%= @game.id %>
  <:subtitle>This is a game record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/games/#{@game}/edit"}>
      <.button>Edit game</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/games"}>Back to games</.back>
